<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Doctor Login</title>
        <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
<body background="{{url_for('static', filename = 'images/background-transparent.png')}}">
    <nav class="navbar navbar-dark bg-dark" style="padding-top: 2px ;padding-bottom:2px; padding-left: 10px;">
        <a class="navbar-brand"><h1>CoVictory</h1></a>
        <ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-action bg-dark text-white"><a class="nav-link text-white" href="/">Logout</a></li>
        </ul>
        
      </nav>
    <div class = "container">
    {% block content%}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class = "alert alert-warning alert-dismissible fade show" role="alert">
                    <span> {{msg}} </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock  %}
    </div>
    <br><br><br>
    <form class="form-compact needs-validation" action="/doctor-login/" method="post" novalidate>
        <div class="row paddingBottom20">
            <div class="container col-4" style= "background-color: #daf3f7;">
                <div class="row">
                    <h3 class="text-center col-12 mb-0">Doctor Login</h3>
                    <sub class="text-right text-muted col-12"><a href="#" tabindex="-1"><i class="far fa-edit"></i></a></sub>
                </div>
                <div class="dropdown-divider mb-3"></div>
                <div class="form-group row align-items-center">
                    <label for="emailAddress" class="col-4 col-form-label-sm text-right">Email Address:</label> 
                    <div class="col-8">
                      <div class="input-group"> 
                        <input id="emailAddress" name="emailAddress" type="email" class="form-control form-control-sm extendable" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Please enter a valid email
                            </div class>
                      </div>
                    </div>
                </div>
                <div class="form-group row align-items-center">
                    <label for="password" class="col-4 col-form-label-sm text-right">Password:</label> 
                    <div class="col-8">
                      <div class="input-group"> 
                        <input id="password" name="password" type="password" class="form-control form-control-sm" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please enter your password
                        </div class>
                      </div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                <input type="submit" class="btn btn-secondary" value= "Login">
                </div>
                <br>
                <div class="text-center">
                    New User?
                    <a href = "/doctor-register">Register here</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src = "{{url_for('static',filename='javascript/validate.js')}}"></script>
        
</body>
</html>