<!DOCTYPE html>
<html lang="en">
<head>
  <title>CoVictory-Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body background = "{{url_for('static', filename = 'images/background-transparent.png')}}">

	<nav class="navbar navbar-dark bg-dark" style="padding-top: 2px ;padding-bottom:2px; padding-left: 10px;">
	  <a class="navbar-brand"><h1>CoVictory</h1></a>
	  <ul class="list-group list-group-horizontal">
			<li class="list-group-item list-group-item-action bg-dark text-white"><a class="nav-link text-white" href="patient-login">Patient</a></li>
			<li class="list-group-item list-group-item-action bg-dark text-white"><a class="nav-link text-white" href="doctor-login">Doctor</a></li>
	  </ul>
	</nav>

	<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#c7d2d4;">
		<ul class="navbar-nav ms-auto text-right">
			<li class="nav-item"><a class="nav-link" href="https://www.mohfw.gov.in/">MORE ABOUT COVID</a></li>
			<li class="nav-item"><a class="nav-link" href="/admin-login">ADMIN</a>	</li>
			<li class="nav-item"><a class="nav-link" href="/developer">DEVELOPERS</a></li>
		</ul>
	</nav>
	
<div class="card-deck d-flex justify-content-center">
	<div class="card" style="width: 25rem; margin-right: 5rem; margin-top: 2rem; margin-bottom: 2rem; background-color: #daf3f7;">
	  <img class="card-img-top" src="{{url_for('static', filename = 'images/stay-home-and-stay-safe.png')}}" alt="stay-home-and-stay-safe">
	  <div class="card-body">
	    <p class="card-text">We at CoVictory are dedicated to make your vaccination process easy and efficient. Feel free to give us feedback.</p>
	  </div>
	</div>
	<div class="card" style="width: 25rem; margin-left: 5rem;margin-top: 2rem; margin-bottom: 2rem; background-color:#daf3f7;">
	  <div class="card-body align-items-center justify-content-center">
	  	<h4 class="card-text text-center">Happy Vaccinations!!</h4>
	    <p class="card-text text-center"><br>This platform helps people to register for COVID-19 vaccinations, schedule their appointments at centres of their choice, manage and track vaccination data and generate reports. Our portal maintains the details of doctors, patients, vaccination centres, vaccines, vaccination appointments and dosage details. Now its easier for you to keep a track of your details. Login/Register to check your details.<br><br>Wishing you a Happy Vaccination!!!!! </p>
	  </div>
	</div>
</div>

<div class="features-icons bg-light text-center" style="background-color: #c7d2d4;">
    <div class="container" >
        <div class="row" style="padding-top: 1rem">
            <div class="col-lg-3">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3 hover-black">
                    <h3 style="color: #007580">Total Centres</h3>
                    <p class="lead mb-0"><h2 >{{centers}}</h2></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <h3 style="color: #007580">Total Doctors</h3>
                    <p class="lead mb-0"><h2>{{doctors}}</h2></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <h3 style="color: #007580">Total Patients</h3>
                    <p class="lead mb-0"><h2>{{patients}}</h2></p>
                </div>
            </div>
            <!-- <div class = "row align-items-center"> -->
            <div class="col-lg-3">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                   
                    <a style = "color: #28b5b5" href="/statistics"><h5>View full report</h5></a>
                  <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<br>


<section class="">
  <form action="/" method = "POST">
    <div class="row d-flex justify-content-center">
      <div class="col-auto"><p class="pt-2"><strong>Give your Feedback: </strong></p></div>

    <div class="col-md-5 col-12">
      <div class="form-outline form-white mb-4">
        <!-- <input type="text" id="form5Example2" class="form-control" placeholder="Type your message here.." /> -->
        <!-- <label class="form-label" for="form5Example2">Your Response</label> -->
        <div class="input-group">
        <!-- <textarea name = "feedback" class="form-control " id="feedback" rows="3" placeholder="Type your message here.." ></textarea> -->
          <input id = "feedback" name="feedback" type="text" class="form-control form-control-sm">
        </div>
      </div>
      </div>
      <div class="col-auto"><input type="submit" class="btn btn-secondary mb-4" value="Send"></div>
    </div>
    
    
    </div>
  </form>
</section>


<!-- Footer -->
<footer class="bg-dark text-center text-white" style="margin-top: 2rem">
  <div class="container p-4">
    
    <!-- <section class="">
      <form action="/######.php">
        <div class="row d-flex justify-content-center">
          <div class="col-auto"><p class="pt-2"><strong>Give your Feedback: </strong></p></div>

	      <div class="col-md-5 col-12">
	        <div class="form-outline form-white mb-4">
	          <input type="text" id="form5Example2" class="form-control" />
	          <label class="form-label" for="form5Example2">Your Response</label>
	        </div>
	      </div>
	      <div class="col-auto"><input type="submit" class="btn btn-outline-light mb-4" value="Send"></div>
        </div>
      </form>
    </section> -->

    <section class="mb-4">
      <p>
        CS F212: Database Systems Group Project
      </p>
    </section>

  <div class="container-fluid text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright
    
  </div>
</footer>

</body>
</html>