<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Slots</title>
        <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
<body background="{{url_for('static', filename = 'images/background-transparent.png')}}"></body>

  
    <nav class="navbar navbar-dark bg-dark" style="padding-top: 2px ;padding-bottom:2px; padding-left: 10px;">
        <a class="navbar-brand"><h1>CoVictory</h1></a>
        
      </nav>
    
    <br><br><br>
    <form class="form-compact" action="/slot/" method="post" style="background-color: #daf3f7;" >
        Choose the slot you want to register for vaccination
        <select name="slot">
            <option></option>
            {% for slot in dropdown_slots %}
            <option value="{{slot[1]}},{{slot[2]}}">
              {{slot[1]}}, {{slot[2]}}
            </option>
        {% endfor %}
        </select>
        


    <br><br><hr>

       <table style="width:100%">
         <tr>
          <th>Vaccination Center ID</th>
          <th>Slot Date</th>
          <th>Slot Time</th>
        </tr>
        {% for slot in slots %}
        <tr><SPAN>
          <td>{{ slot[0] }}</td>
          <td>{{ slot[1] }}</td>
          <td>{{ slot[2] }}</td>
        </SPAN></tr>
        {% endfor %}
        
      </table>

    </div>
    <br>
    <div class="text-center">
    <input type="submit" class="btn btn-secondary" value= "Next">
    </div>
    </div>
  </form>    
</body>
</html>