<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
window.onload = function() {
 
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: false,
	title: {
		text: "Gender Statistics"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: '{{males}}', label: "Male"},
			{y: '{{females}}', label: "Female"}
		]
	}]
});
 
var chart1 = new CanvasJS.Chart("chartContainer1", {
        animationEnabled: false,
        title: {
            text: "Vaccine Statistics"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            indexLabel: "{label} {y}",
            dataPoints: [
                {y: '{{covishield}}', label: "Covishield"},
                {y: '{{covaxin}}', label: "Covaxin"},
                {y: '{{comirnaty}}', label: "Comirnaty"}
            ]
        }]
    });
	var chart2 = new CanvasJS.Chart("chartContainer2", {
        animationEnabled: false,
        title: {
            text: "Vaccination Statistics"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            indexLabel: "{label} {y}",
            dataPoints: [
                {y: '{{registered}}', label: "Registered"},
                {y: '{{phase1}}', label: "Dose 1"},
                {y: '{{vaccianted}}', label:"Dose 2"}
            ]
        }]
    });
 
    var options = {
	title: {
		text: "Patient Age Range"              
	},
	data: [              
	{
		// Change type to "doughnut", "line", "splineArea", etc.
		type: "column",
		dataPoints: [
			{ label: "30-40", y: '{{age30}}'*10  },
			{ label: "40-50", y: '{{age40}}'*10  },
			{ label: "50-60", y: '{{age50}}'*10  },
			{ label: "60-70", y: '{{age60}}'*10 },
			{ label: "80-90", y: '{{age70}}'*10  }
		]
	}
	]
};

$("#myCanvas").CanvasJSChart(options);
    chart1.render();
    chart.render();
    chart2.render();

}
</script>
</head>
<body background="{{url_for('static', filename = 'images/background-transparent.png')}}">
    <nav class="navbar navbar-dark bg-dark" style="padding-top: 2px ;padding-bottom:2px; padding-left: 10px;">
        <a class="navbar-brand"><h1>CoVictory</h1></a>
        <a class="nav-link" href="/"><span class="navbar-text">Home</span></a>
      </nav> 
    
    <br>
<div id="chartContainer" style="height: 370px; width: 40%; align-items: center; margin-left: auto; margin-right: auto;"></div>
<br>
<div id="chartContainer1" style="height: 370px; width: 40%; align-items: center; margin-left: auto; margin-right: auto;"></div>
 
<br>
<div id="chartContainer2" style="height: 370px; width: 40%; align-items: center; margin-left: auto; margin-right: auto;"></div>
 
<br>
<div id="myCanvas" style="height: 370px; width: 100%;"></div>
<br>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>