<html>
<head>
<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: false,
	title: {
		text: "Gender Statistics"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: '{{males}}', label: "Male"},
			{y: '{{females}}', label: "Female"}
		]
	}]
});

var chart1 = new CanvasJS.Chart("chartContainer1", {
        animationEnabled: false,
        title: {
            text: "Vaccine Statistics"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            indexLabel: "{label} {y}",
            dataPoints: [
                {y: '{{covishield}}', label: "Covishield"},
                {y: '{{covaxin}}', label: "Covaxin"},
                {y: '{{comirnaty}}', label: "Comirnaty"}
            ]
        }]
    });
    chart1.render();
    chart.render();
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<div id="chartContainer1" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>