<!DOCTYPE html>
<html lang="en">
<head>
  <title>CoVictory-Vaccination-Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
 
<body background = "{{url_for('static', filename = 'images/background-transparent.png')}}">
 
<nav class="navbar navbar-dark bg-dark" style="padding-top: 2px ;padding-bottom:2px; padding-left: 10px;">
  <a class="navbar-brand"><h1>CoVictory</h1></a>
  <ul class="list-group list-group-horizontal">
  <li class="list-group-item list-group-item-action bg-dark text-white"><a class="nav-link text-white" href="/patient-list">Back</a></li>
  </ul>
</nav>
<div class='canvas_div_pdf'>
<br>
<div class="container bg-light border shadow-lg p-4 mb-4" id="pdf" 
  style="margin-left: auto; margin-right: auto; padding-top: 5rem;padding-bottom: 1rem; ">
 
    <table class="table table-borderless table-light text-left" style="width: 100%">
    <thead class="table-light">
      <tr>
        <th scope="col" style="width: 20%">Centre Name: {{center[1]}}</th>
        <th scope="col" style="width: 20%"></th>
        <th scope="col" style="width: 20%" class="text-right">Doctor Name: {{doctor[0]}}</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Location: {{center[0]}}</td>
      <td></td>
      <td>Doctor Email: {{doctor[1]}}</td>
    </tr>
  </tbody>
  </table>
 
    <table class="table table-bordered table-light text-left" style="width: 100%">
    <thead class="table-light">
      <tr>
        <th scope="col" style="width: 3%">Name</th>
        <td scope="col" style="width: 75%">{{patient[0]}} {{patient[1]}}</th>
      </tr>
      <tr>
        <th scope="col" style="width: 3%">Email</th>
        <td scope="col" style="width: 75%">{{patient[2]}}</th>
      </tr>
    </thead>
  </table>
 
    <table class="table table-bordered table-light text-left" style="margin-top: 0px;width: 100%;">
    <thead class="table-light">
      <tr>
        <th scope="col" style="width: 3%">Age</th>
        <td scope="col" style="width: 5%">{{dob}}</th>
        <th scope="col" style="width: 3%">Gender</th>
        <td scope="col" style="width: 5%">{{patient[3]}}</th>
      </tr>
    </thead>
  </table>
 
    <table class="table table-bordered table-hover table-striped table-light text-center" style="width: 100%">
    <thead class="table-light">
      <tr>
        <th scope="col" style="width: 5%">Status</th>
        <th scope="col" style="width: 20%">Date of 1st Dose</th>
        <th scope="col" style="width: 20%">Date of 2nd Dose</th>
        <th scope="col" style="width: 20%">Remark</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{status}}</td>
      <td>{{date1}}</td>
      <td>{{date2}}</td>
      <td>{{remark}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
 
 

</form>
</body>
</html>